body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(90deg,rgb(22, 17, 17),rgb(22, 17, 17),rgb(22, 17, 17));
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 100px;
}
#langlogo{
    display: flex;
}
.lang{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}